---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import { useTranslations, languages } from "~/i18n";

export interface Props {
  lang: keyof typeof languages;
}

const { lang = 'es' } = Astro.props;
const t = useTranslations(lang);
---

<ContentSection title={t('intro.title')} id="intro">
  <Fragment slot="lead" set:html={t('intro.lead')} />
  <div class="grid grid-cols-1 gap-1 sm:grid-cols-1">
    <a
      href="https://ies-rafael-alberti.github.io/socia/docs"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>{t('intro.docs')}</span>
    </a>
  </div>
</ContentSection>
