---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import rafaelAlbertiLogo from "~/assets/Sello-Rafael-Alberti-Primario.svg";
import rafaelAlbertiWhiteLogo from "~/assets/sello-safael-slberti-imago-blanco.svg";
import cifpCuencaLogo from "~/assets/logo-cifp-cuenca.png";
import aktiosLogo from "~/assets/atkios.svg";
import aktiosWhiteLogo from "~/assets/atkios-white.svg";
import { useTranslations, languages } from "~/i18n";

export interface Props {
  lang: keyof typeof languages;
}

const { lang = 'es' } = Astro.props;
const t = useTranslations(lang);

const collaborators = [
  {
    data: {
      title: "IES Rafael Alberti",
      url: "https://iesrafaelalberti.es",
      image: rafaelAlbertiLogo,
      imageWhite: rafaelAlbertiWhiteLogo,
    }
  },
  {
    data: {
      title: "CIFP Nº1 - Cuenca", 
      url: "https://www.cifpcuenca.es",
      image: cifpCuencaLogo,
    }
  },
  {
    data: {
      title: "Aktios Security Services",
      url: "https://www.aktios.com",
      image: aktiosLogo,
      imageWhite: aktiosWhiteLogo,
    }
  }
];
---

<ContentSection title={t('collaborators.title')} id="showcase">
  <div class="max-w-4xl space-y-2">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      {collaborators.map((collaborator) => <ShowcaseCard site={collaborator} lang={lang} />)}
    </div>
  </div>
</ContentSection>
