THEHIVE_SECRET=replace-with-a-long-random-secret
THEHIVE_PUBLIC_URL=http://127.0.0.1:9000
CORTEX_SECRET=replace-with-a-long-random-secret
CORTEX_DOCKER_JOB_DIRECTORY=/opt/socia-thehive/cortex/jobs
CORTEX_API_KEY=
CORTEX_ANALYZERS_SOURCE=/opt/Cortex-Analyzers
CORTEX_ENABLE_ANALYZERS=MISP_2_1,AbuseIPDB_1_0,AbuseIPDB_2_0,Abuse_Finder_3_0,VirusTotal_Scan_3_1,AIL_OnionLookup_1_0,VirusTotal_GetReport_3_1
CORTEX_ANALYZER_CONFIGS_FILE=
